// Place all the styles related to the list_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$salmon: #e87c7c;

.pad-top-3 {
  padding-top: 3%;
}

.color-salmon {
  color: $salmon;
}

.width-30 {
  width: 30%;
}
